.heading
{
    width: 100%;
    border-width: 5px;
    border-color: aqua;
    font-size: 50px;
}

.headinga
{
    width: 50%;
    border-width: 5px;
    border-color: red;
    font-size: 20px;
}

.nameofobjects
{
    background-color: rgb(201, 155, 71);
    border-width: 5px;
    border-color: brown;


}